<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.owldevsoft.apotekseller">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialAppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".feature.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.masterproduk.update.UpdateDataObatActivity" />
        <activity
            android:name=".feature.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".feature.register.RegisterActivity" />
        <activity android:name=".feature.register.NotifRegisterActivity" />
        <activity
            android:name=".feature.main.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".feature.banner.DetailBannerActivity" />
        <activity android:name=".feature.masterdata.MasterDataActivity" />
        <activity android:name=".feature.masterdata.satuan.read.SatuanActivity" />
        <activity android:name=".feature.masterdata.produsen.read.ProdusenActivity" />
        <activity android:name=".feature.masterdata.subgolonganobat.read.SubGolonganObatActivity" />
        <activity android:name=".feature.masterdata.jenisgolonganobat.read.JenisGolonganObatActivity" />
        <activity android:name=".feature.masterproduk.read.DataObatActivity" />
        <activity
            android:name=".feature.masterproduk.create.TambahDataObatActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".feature.masterproduk.detail.DetailObatActivity" />
        <activity android:name=".feature.penjualan.read.PenjualanActivity" />
        <activity android:name=".feature.pesananobat.read.PesananObatActivity" />
        <activity android:name=".feature.pesananobat.detail.DetailPesananObatActivity" />
        <activity android:name=".feature.pesananresep.read.PesananResepActivity"/>
        <activity android:name=".feature.pesananresep.detail.DetailPesananResepActivity"/>
        <activity android:name=".feature.member.MemberActivity"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:enabled="true"
            android:name=".utils.BubbleService"/>

    </application>

</manifest>